#tamanho{
font-size: 130%;background-color: antiquewhite; 
}
#massa{
    font-size: 120%;
}
#cobertura{
    font-size: 120%;
}
#preparo{
    font-size: 120%;
}
img{
    background-color: antiquewhite;

}